<div class="uni-time-container uni-time-main">
	<div class="uni-time-overlay"></div>
	<div class="uni-time-navigation smooth-move">
		<div class="uni-time-timenav">
			<div class="uni-time-content smoothable" style="left: {{x}}px">
				<div class="marker" style="left: 618px;">
					<div class="flag" style="top: 100px;">
						<div class="flag-content">
							<svg>
								<path class="flag-img"
									xmlns="http://www.w3.org/2000/svg"
									d="m4.25,0.25l139.75,0.25c5.433807,0 5,-0.68379 5,4.75l0,34.75c0,5.433792 0.433807,5 -5,5l-129.14983,0l-10.60017,10l0,-10l0,-44.75z"></path>
							</svg>
							<h3>Timeline Content</h3>
						</div>
					</div>
					<div class="dot"></div>
					<div class="line">
						<div class="event-line"></div>
					</div>
				</div>
			</div>
			<div class="uni-time-time smoothable" style="left: {{x}}px">
				<div class="uni-time-time-interval-minor">
					<div class="minor"
						style="left: -1353.6244292218798px; width: 4906.999999996709px;"></div>
				</div>
				<div class="uni-time-time-interval-major">
					<div ng-repeat="date in dates.major"
						style="text-indent: -13px; opacity: 100; left: {{$index*  1000}}px">{{date}}</div>
				</div>
				<div class="uni-time-time-interval">
					<div ng-repeat="date in dates.minor"
						ng-show="dates.major.indexOf(date) == -1"
						style="text-indent: -10.5px; opacity: 100; left: {{$index*  100}}px">{{date}}</div>
				</div>
			</div>
		</div>
		<div class="uni-time-timenav-background">
			<div class="uni-time-timenav-line"  style="left: {{indicatorX + 10}}px"></div>
			<div class="uni-time-timenav-indicator"  style="left: {{indicatorX}}px">
				<svg height="30px" width="30px"
					class="uni-time-timenav-indivator-svg">
					<polygon points="0,0 10,12 14,12 24,0" style="fill:white;"></polygon>
				</svg>
			</div>
			<div class="uni-time-timenav-interval-background">
				<div class="top-highlight"></div>
			</div>
		</div>
	</div>
</div>